* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--text);
    background-color: var(--background);
}

.obf {
    background-color: var(--offbf);
}

.df {
    display: flex;
}

.fdc {
    flex-direction: column;
}

.jsc {
    justify-content: center;
}
.jcsb {
    justify-content: space-between;
}
.ffww {
    flex-flow: row wrap;
}

.aic {
    align-items: center;
}

.ys {
    overflow-y: scroll;
}

.hidde {
    display: none;
}
 /* Border */

.br {
    border: 2px solid #f64328;
}
.bCom {
    border: 2px solid gray;
}
.bRar {
    border: 2px solid blue;
}
.bEpc {
    border: 2px solid red;
}
.bLeg {
    border: 2px solid gold;
}
.bwbb {
    border-bottom: 1px solid var(--text);
}
.tac {
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

.blr {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.zi2 {
    z-index: 2;
}
.pa {
    position: absolute;
}

.cp {
    cursor: pointer;
}

.usn {
    user-select: none;
}

.pdg1 {
    padding: 1px;
}
.gp {
    gap: 2px;
}

.brd5 {
    border-radius: 5px;
}